<script lang="ts">
    import { onDestroy } from "svelte"
    import { currentlyDragging } from "./dragAndDrop"
    import type { Data } from "./dragAndDrop"

    export let channel: string
    export let startedDragging: () => Data
    export let cancelledDragging: (() => void) | undefined = undefined
    export let successfulDrop: (() => void) | undefined = undefined
    export const recursiveDraggableId: number = Math.random()
    export let draggingEnabled: boolean = true
    export let onclick: (() => void) | undefined = undefined

    let dragging: boolean = false

    let startX = 0
    let startY = 0

    let translateX = 0
    let translateY = 0

    function removeWindowListeners() {
        window.removeEventListener("mousemove", windowMouseMove)
        window.removeEventListener("mouseup", windowMouseUp)
    }

    function windowMouseMove(e: MouseEvent) {
        let x = e.clientX
        let y = e.clientY

        if (dragging || Math.sqrt((startX - x) ** 2 + (startY - y) ** 2) > 5) {
            if (!dragging) {
                dragging = true
                $currentlyDragging = {
                    channel,
                    data: startedDragging(),
                    successfulDropCallback: () => {
                        if (successfulDrop) {
                            successfulDrop()
                        }

                        dragging = false

                        translateX = 0
                        translateY = 0

                        removeWindowListeners()
                    },
                    recursiveDraggableId,
                }
            }

            translateX = startX - x
            translateY = startY - y
        }
    }

    function windowMouseUp() {
        removeWindowListeners()

        if (!dragging) {
            if (onclick !== undefined) {
                onclick()
            }

            return
        }

        if (cancelledDragging) {
            cancelledDragging()
        }

        dragging = false
        $currentlyDragging = null

        translateX = 0
        translateY = 0
    }

    onDestroy(removeWindowListeners)
</script>

<div
    class:dragging
    style={`right: ${translateX}px; bottom: ${translateY}px;`}
    on:selectstart|preventDefault
    on:mousedown|stopPropagation={e => {
        if (e.button === 0 && draggingEnabled) {
            startX = e.clientX
            startY = e.clientY

            window.addEventListener("mousemove", windowMouseMove)
            window.addEventListener("mouseup", windowMouseUp)
        }
    }}
>
    <slot />
</div>

<style>
    div {
        margin: 0;
        position: relative;
        transition-duration: 0s;
    }

    .dragging {
        pointer-events: none;
    }
</style>
