<script lang="ts">
    import { currentlyDragging } from "./dragAndDrop"
    import type { Data } from "./dragAndDrop"

    export let channel: string
    export let hovering: boolean = false
    export let drop: (data: Data) => void
    export let recursiveDraggableId: number | undefined = undefined
</script>

<!-- svelte-ignore a11y-mouse-events-have-key-events -->
<div
    on:mouseover={e => {
        if (
            $currentlyDragging !== null &&
            $currentlyDragging.channel === channel &&
            recursiveDraggableId !== $currentlyDragging.recursiveDraggableId
        ) {
            e.stopPropagation()
            hovering = true
        }
    }}
    on:mouseout={_ => {
        hovering = false
    }}
    on:mouseup={e => {
        if (
            $currentlyDragging !== null &&
            $currentlyDragging.channel === channel &&
            recursiveDraggableId !== $currentlyDragging.recursiveDraggableId
        ) {
            $currentlyDragging.successfulDropCallback()
            drop($currentlyDragging.data)
            $currentlyDragging = null
            e.stopPropagation()
        }
    }}
>
    <slot />
</div>
