<script lang="ts">
    import type { Writable } from "svelte/store"
    import type { DateValue } from "../../../backendInterface"

    export let date: Writable<DateValue>

    let value: string

    function onPropsChange(date: DateValue) {
        value = `${date.year.toString().padStart(4, "0")}-${(date.month + 1)
            .toString()
            .padStart(2, "0")}-${date.day.toString().padStart(2, "0")}`
    }

    function onValueChange(value: string) {
        let [year, month, day] = value.split("-").map(v => parseInt(v))

        date.set({
            year,
            month: month - 1,
            day,
        })
    }

    $: onPropsChange($date)
</script>

<input
    data-testid="date-selector"
    type="date"
    {value}
    on:input={e => {
        onValueChange(e.currentTarget.value)
    }}
    unselectable
    on:selectstart|preventDefault
/>

<style>
    input {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        margin: 0;
    }
</style>
