<script lang="ts">
    import { t } from "svelte-intl-precompile"
    import type { Writable } from "svelte/store"
    import { writableDerived } from "svelte-writable-derived"

    import type { Time, DateValue } from "../../../backendInterface"
    import DateSelector from "./DateSelector.svelte"
    import Select from "../../../Select.svelte"

    export let time: Writable<Time>

    let start_date: DateValue
    let end_date: DateValue

    let now = new Date()

    start_date = {
        year: now.getFullYear(),
        month: now.getMonth(),
        day: now.getDate(),
    }

    end_date = start_date

    let chosenTimeOption: "None" | "Date" | "Range"

    function copyInput(_: any) {
        chosenTimeOption = "None"

        if (typeof $time !== "string" && "Date" in $time) {
            start_date = $time.Date

            chosenTimeOption = "Date"
        }

        if (typeof $time !== "string" && "Range" in $time) {
            start_date = $time.Range[0]
            end_date = $time.Range[1]

            chosenTimeOption = "Range"
        }
    }

    $: copyInput($time)

    let dateDerived = writableDerived(
        time,
        (time: Time, set: (date: DateValue) => void) => {
            if (time !== "None" && "Date" in time) set(time.Date)
        },
        date => ({ Date: date }),
        start_date,
    )

    const range0Derived: Writable<DateValue> = writableDerived(
        time,
        (time: Time, set: (range: DateValue) => void) => {
            if (time !== "None" && "Range" in time) set(time.Range[0])
        },
        date => ({
            Range: [date, $range1Derived] as [DateValue, DateValue],
        }),
        start_date,
    )

    const range1Derived = writableDerived(
        time,
        (time: Time, set: (range: DateValue) => void) => {
            if (time !== "None" && "Range" in time) set(time.Range[1])
        },
        date => ({
            Range: [$range0Derived, date] as [DateValue, DateValue],
        }),
        end_date,
    )
</script>

<div class="select-wrapper">
    <Select
        value={chosenTimeOption}
        onInput={value => {
            // @ts-ignore I can't use `as` because svelte preproccess doesn't work here
            chosenTimeOption = value
            if (chosenTimeOption === "None") {
                time.set("None")
            } else if (chosenTimeOption === "Date") {
                time.set({
                    Date: start_date,
                })
            } else if (chosenTimeOption === "Range") {
                time.set({
                    Range: [start_date, end_date],
                })
            }
        }}
        testId="time-type-selector"
    >
        <option value="None"> {$t("selectors.timeOptions.none")} </option>
        <option value="Date"> {$t("selectors.timeOptions.date")} </option>
        <option value="Range"> {$t("selectors.timeOptions.range")} </option>
    </Select>
</div>

{#if $time !== "None"}
    {#if "Date" in $time}
        <DateSelector date={dateDerived} />
    {/if}

    {#if "Range" in $time}
        <div id="range-container">
            <DateSelector date={range0Derived} />
            <span id="to">{$t("selectors.datesInRangeSeparator")}</span>
            <DateSelector date={range1Derived} />
        </div>
    {/if}
{/if}

<style>
    .select-wrapper {
        margin-left: auto;
        margin-right: auto;
    }

    #range-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #to {
        padding: 0.4rem;
    }
</style>
