<script lang="ts">
    import { t } from "svelte-intl-precompile"
    import writableDerived from "svelte-writable-derived"
    import type { Readable } from "svelte/store"
    import type { Category, Filters, Time } from "../../backendInterface"

    import Sidebar from "../../Sidebar.svelte"
    import Select from "../../Select.svelte"

    import CategoryTree from "./categoryTree/CategoryTree.svelte"
    import Dates from "./dates/Dates.svelte"
    import Checkbox from "../../Checkbox.svelte"

    interface DecryptedInterfaceSubset {
        filters: Filters
        categories: Readable<Category[]>
        createCategory(name: string): Promise<void>
    }

    export let decryptedInterfaceSubset: DecryptedInterfaceSubset

    let { timeOption, categoryFilterType, textSearch } =
        decryptedInterfaceSubset.filters

    let time: Time = "None"

    function timeOptionUpdated(timeOption: Time | null) {
        if (timeOption !== null) {
            time = timeOption
        }
    }

    $: timeOptionUpdated($timeOption)

    function timeFilteringUpdated(timeFiltering: boolean) {
        if (timeFiltering) {
            timeOption.set(time)
        } else {
            timeOption.set(null)
        }
    }

    function onCategoryFilterTypeChanged(selector: string) {
        $categoryFilterType = selector as "Any" | "All" | "Not"
    }
</script>

<Sidebar borderColor="white">
    <div>
        <h1>{$t("selectors.filters")}</h1>
        <h2>{$t("selectors.time")}</h2>
        <Checkbox
            label={$t("selectors.enableTimeFiltering")}
            checked={$timeOption !== null}
            onChange={checked => timeFilteringUpdated(checked)}
        />
        {#if $timeOption !== null}
            <Dates
                time={writableDerived(
                    timeOption,
                    time => time ?? "None",
                    time => time,
                )}
            />
        {/if}
        <h2>{$t("selectors.categories")}</h2>
        <Select
            bind:value={$categoryFilterType}
            onInput={e => onCategoryFilterTypeChanged(e)}
        >
            <option value="All">{$t("selectors.all")}</option>
            <option value="Any">{$t("selectors.any")}</option>
            <option value="Not">{$t("selectors.not")}</option>
        </Select>
        <CategoryTree
            selector={decryptedInterfaceSubset.filters.categorySelector}
            {decryptedInterfaceSubset}
        />
        <input
            value={$textSearch}
            on:input={e => ($textSearch = e.currentTarget.value)}
            placeholder={$t("selectors.textSearch")}
        />
    </div>
</Sidebar>

<style>
    div {
        text-align: center;
    }

    input {
        margin: 0.5rem;
    }
</style>
