<script lang="ts">
    import CategoryNode from "./CategoryNode.svelte"
    import { t } from "svelte-intl-precompile"
    import type { Category, CategorySelector } from "../../../backendInterface"
    import type { Readable } from "svelte/store"

    interface DecryptedInterfaceSubset {
        categories: Readable<Category[]>
        createCategory(name: string): Promise<void>
    }

    export let decryptedInterfaceSubset: DecryptedInterfaceSubset
    
    let categories = decryptedInterfaceSubset.categories

    export let selector: CategorySelector

    let creating = false

    let nameInput: HTMLInputElement | undefined
    let name: string = ""

    function onCreateCategory() {
        if (name !== "") {
            decryptedInterfaceSubset.createCategory(name)
        }

        name = ""
        creating = false
    }
</script>

<div>
    {#each $categories as category}
        <CategoryNode {category} {selector} />
    {/each}
</div>

{#if creating}
    <input
        placeholder={$t("selectors.categoryNamePlaceholder")}
        bind:this={nameInput}
        bind:value={name}
        on:blur={onCreateCategory}
        on:keydown={e => {
            if (e.key === "Enter") {
                onCreateCategory()
            }
        }}
    />
{:else}
    <button
        on:click={() => {
            creating = true

            setTimeout(() => {
                nameInput?.focus()
            })
        }}>+</button
    >
{/if}<br /><br />

<style>
    div {
        margin: 1rem;
    }
</style>
