<script lang="ts">
    import { CategoryUtils, type Category, type CategorySelector } from "../../../backendInterface"
    import { t } from "svelte-intl-precompile"
    import ContextMenu from "../../../ContextMenu.svelte"
    import Modal from "../../../Modal.svelte"
    import CloseArrow from "./CloseArrow.svelte"
    import type { Readable, Writable } from "svelte/store"

    export let category: Category
    export let selector: CategorySelector
    export let renaming = false
    export let onclick: boolean
    export let menu: boolean

    let selected: Readable<number[]>
    $: selected = selector.categoryIds

    let name: Writable<string>
    $: name = category.name

    let color: Writable<string>
    $: color = category.color

    let renamingElt: HTMLInputElement

    let showColorPickerModal: () => void

    function startRenamingCategory() {
        renaming = true

        setTimeout(() => {
            renamingElt.focus()
        })
    }

    let startDeletingCategory: () => void = () => {}
</script>

<div id="container">
    {#if menu}
        <CloseArrow {category} />
    {:else}
        <div class="spacer" />
    {/if}

    {#if renaming}
        <input
            bind:value={$name}
            placeholder={$t("selectors.categoryNamePlaceholder")}
            bind:this={renamingElt}
            on:keydown={key => {
                if (key.key === "Enter") {
                    renaming = false
                }
            }}
            on:blur={() => {
                renaming = false
            }}
        />
    {:else}
        <p
            style={`border: 2px solid ${
                CategoryUtils.includedIn(category, $selected)
                    ? $color
                    : "transparent"
            }; text-shadow: 0px 0px 0.3rem ${
                CategoryUtils.includedIn(category, $selected)
                    ? "white"
                    : "transparent"
            }`}
            on:click={() => {
                if (onclick) {
                    CategoryUtils.toggleSelectedIn(
                        category,
                        selector,
                    )
                }
            }}
            id="category-name"
        >
            {$name}
        </p>
    {/if}

    <div class="spacer" />

    {#if menu}
        <ContextMenu
            buttonStyle={""}
            options={[
                [
                    $t("selectors.categoryContextMenu.setColor"),
                    showColorPickerModal,
                ],
                [
                    $t("selectors.categoryContextMenu.rename"),
                    startRenamingCategory,
                ],
                [
                    $t("selectors.categoryContextMenu.delete"),
                    startDeletingCategory,
                ],
            ]}
        />
    {/if}
</div>

<Modal
    bind:show={showColorPickerModal}
    buttons={["close"]}
>
    <p>{$t("selectors.selectColor")}</p>
    <br />
    <input
        type="color"
        style={`background-color: ${$color};`}
        value={category.color}
        on:input={e => category.color.set(e.currentTarget.value)}
    />
</Modal>

<Modal
    bind:show={startDeletingCategory}
    buttons={[
        [
            $t("selectors.categoryContextMenu.deleteAnyways"),
            () => {
                category.delete()
            },
        ],
        $t("cancel"),
    ]}
>
    <p>
        {$t("selectors.categoryContextMenu.confirmDelete", {
            values: { category: $name },
        })}
    </p>
</Modal>

<style>
    p {
        display: inline;
        margin: 0;
    }

    #category-name {
        display: inline-block;

        padding-left: 0.5rem;
        padding-right: 0.5rem;
        padding-top: 0.15rem;
        padding-bottom: 0.15rem;
        line-height: 1.3rem;

        border-radius: 1.2rem;

        overflow-wrap: break-word;
        hyphens: auto;
        max-width: calc(100% - 6rem);
    }

    #container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .spacer {
        flex-grow: 1;
        min-width: 0.5rem;
    }
</style>
