<script lang="ts">
    import { CategoryUtils, type Category, type CategorySelector } from "../../../backendInterface"
    import Draggable from "../../../dragAndDrop/Draggable.svelte"
    import Subcategories from "./Subcategories.svelte"
    import DropTarget from "../../../dragAndDrop/DropTarget.svelte"
    import CategoryName from "./CategoryName.svelte"
    import type { Readable, Writable } from "svelte/store"

    export let selector: CategorySelector
    export let category: Category
        
    let closed: Writable<boolean>
    $: closed = category.closed

    let color: Readable<string>
    $: color = category.color

    let recursiveDraggableId: number

    let highlightBorder = false

    let renaming = false
</script>

<DropTarget
    channel={"categoryTree"}
    bind:hovering={highlightBorder}
    drop={newChild => {
        newChild.changeParent(category)
    }}
    {recursiveDraggableId}
>
    <Draggable
        channel={"categoryTree"}
        startedDragging={() => category}
        cancelledDragging={() => {
            category.changeParent(null)
        }}
        draggingEnabled={!renaming}
        onclick={() => {
            CategoryUtils.toggleSelectedIn(category, selector)
        }}
        bind:recursiveDraggableId
    >
        <div
            id="category-container"
            class:highlightBorder
            style={`border-left: 2px solid ${$color}`}
        >
            <CategoryName {category} {selector} bind:renaming onclick={false} menu={true} />
            {#if !$closed && category.subcategories.length > 0}
                <Subcategories
                    {selector}
                    subcategories={category.subcategories}
                />
            {/if}
        </div>
    </Draggable>
</DropTarget>

<style>
    * {
        text-align: left;
    }

    #category-container {
        box-sizing: border-box;
        width: 100%;

        padding-left: 0.2rem;
        padding-top: 0.3rem;
        padding-bottom: 0.3rem;
    }

    .highlightBorder {
        outline: 2px solid white;
    }
</style>
