<script lang="ts">
    import type { Readable, Writable } from "svelte/store"
    import type { Category } from "../../../backendInterface"

    export let category: Category

    let closed: Writable<boolean>
    $: closed = category.closed

    let color: Readable<string>
    $: color = category.color
</script>

{#if category.subcategories.length > 0}
    <span
        class="content"
        on:mousedown|stopPropagation={() => {
            category.closed.update(closed => !closed)
        }}
        style={`color: ${$color}`}
    >
        {$closed ? "▶" : "▼"}
    </span>
{:else}
    <span class="not-content" />
{/if}

<style>
    .content {
        width: 1rem;
        margin-left: calc(var(--subcategory-offset-distance) - 0.5rem + 1px);
    }

    .not-content {
        margin-right: calc(var(--subcategory-offset-distance) - 0.5rem);
    }
</style>
