<script lang="ts">
    import type { Category, CategorySelector } from "../../../backendInterface"
    import CategoryNode from "./CategoryNode.svelte"

    export let selector: CategorySelector
    export let subcategories: Category[]
</script>

<div class="subcategory-container">
    {#each subcategories as subcategory}
        <CategoryNode category={subcategory} {selector} />
    {/each}
</div>

<style>
    .subcategory-container {
        padding: 0;
        padding-top: 0.2rem;
        padding-bottom: 0.2rem;
        margin-left: var(--subcategory-offset-distance);
        width: calc(100% - var(--subcategory-offset-distance));
        margin-top: 0.5rem;
    }
</style>
