<script lang="ts">
    import type { Readable } from "svelte/store"
    import type { Category } from "../../backendInterface"

    export let category: Category

    let name: Readable<string>
    $: name = category.name

    let color: Readable<string>
    $: color = category.color
</script>

<div style={`border: 2px solid ${$color}`}>
    <span>
        {$name}
    </span>
</div>

<style>
    span {
        display: inline-block;

        font-size: 0.8rem;

        margin: 0;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        padding-top: 0.1rem;
        padding-bottom: 0.1rem;
    }

    div {
        display: inline-block;

        margin: 0.3rem;
        margin-left: 0.15rem;
        margin-right: 0.15rem;

        padding: 0.1rem;

        border-radius: 1rem;

        line-height: 1rem;

        align-self: center;
    }
</style>
