<script lang="ts">
    import { Meta, Story, Template } from "@storybook/addon-svelte-csf"
    import {
        StorybookCategory,
        StorybookDecryptedInterface,
        StorybookSection,
    } from "../../../.storybook/storyBackendInterface"
    import Section from "./Section.svelte"

    let decrypted = new StorybookDecryptedInterface()

    decrypted.categories.set([
        new StorybookCategory("Poooooogggggeeeerrrrssss", "white", 0),
        new StorybookCategory("Poooooogggggeeeerrrrssss", "white", 1),
        new StorybookCategory("Poooooogggggeeeerrrrssss", "white", 2),
        new StorybookCategory("Poooooogggggeeeerrrrssss", "white", 3),
        new StorybookCategory("Poooooogggggeeeerrrrssss", "white", 4),
        new StorybookCategory("Poooooogggggeeeerrrrssss", "white", 5),
        new StorybookCategory("Poooooogggggeeeerrrrssss", "white", 6),
    ])

    export let section = new StorybookSection(
        "",
        "Bruh",
        { Date: { day: 1, month: 1, year: 2023 } },
        [0, 1, 2, 3, 4, 5, 6],
        "aaaaaaaaaaaaaaaaaaaaaaaaaa ".repeat(150),
    )
</script>

<Meta
    title="Section"
    component={Section}
/>

<Template>
    <div id="container">
        <span id="spacer" />
        <div id="section">
            <Section
                {section}
                decryptedInterfaceSubset={decrypted}
            />
        </div>
    </div>
</Template>

<Story name="Primary" />

<style>
    #container {
        padding-top: 100vh;
        display: flex;
        width: 100%;
    }

    #spacer {
        width: 20vw;
        flex-grow: 0;
    }

    #section {
        flex-grow: 1;
    }
</style>
