<script lang="ts">
    import { onDestroy, onMount } from "svelte"

    import { t } from "svelte-intl-precompile"
    import type { Readable } from "svelte/store"
    import type {
        Category,
        Section,
    } from "../../backendInterface"
    import SidePanel from "./SidePanel.svelte"

    import TopRow from "./TopRow.svelte"
    import { focusedOn } from "./sections"

    export let section: Section

    interface DecryptedInterfaceSubset {
        categories: Readable<Category[]>
        createCategory(name: string): Promise<void>
    }

    export let decryptedInterfaceSubset: DecryptedInterfaceSubset

    let text: string | null = null

    let textarea: HTMLTextAreaElement | null = null
    let sectionContainer: HTMLElement | null = null

    let visible = false

    function updateHeight(..._a: any[]) {
        if (textarea !== null && sectionContainer !== null) {
            // Fix the height of the section container
            // Prevents resetting the textarea height to measure the correct height from changing the height of the screen, preventing weird scrolling artifacts
            sectionContainer.style.height = `${sectionContainer.scrollHeight}px`

            textarea.style.height = ""

            let newHeight = textarea.scrollHeight + 8

            textarea.style.height = `calc(${newHeight}px + 1rem)`
            sectionContainer.style.height = ""
        }
    }

    function clickedOff() {
        $focusedOn = null
    }

    window.addEventListener("click", clickedOff)

    $: updateHeight(text, textarea, sectionContainer)

    onMount(() => {
        let prevWidth = sectionContainer!.clientWidth

        let sectionResizeObserver = new ResizeObserver(([section]) => {
            // requestAnimationFrame prevents "Loop completed with undelivered notifications" error
            requestAnimationFrame(() => {
                let currentWidth = section.target.clientWidth
                if (prevWidth !== currentWidth && visible) updateHeight()
                prevWidth = currentWidth
            })
        })

        sectionResizeObserver.observe(sectionContainer!)

        let sectionVisibilityObserver = new IntersectionObserver(([sectionElt]) => {
            console.log("call")
            requestAnimationFrame(() => {
                visible = sectionElt.isIntersecting

                if (visible) {
                    updateHeight()

                    if (text === null) {
                        console.log("Getting text")
                        section.getCurrentText().then((v) => text = v)
                    }
                }
            })
        })

        sectionVisibilityObserver.observe(sectionContainer!)
    })

    onDestroy(() => {
        window.removeEventListener("click", clickedOff)
    })
</script>

<div on:click|stopPropagation={() => ($focusedOn = section.key)}>
    <div
        bind:this={sectionContainer}
        class="section-container"
        class:selected={$focusedOn === section.key}
    >
        <TopRow
            {section}
            {decryptedInterfaceSubset}
        />
        {#if text !== null}
            <textarea
                value={text}
                bind:this={textarea}
                placeholder={$t("section.entryPlaceholder")}
                on:input={e => {
                    text = e.currentTarget.value
                    section.updateText(text)
                }}
            />
        {/if}
    </div>

    {#if $focusedOn === section.key}
        <SidePanel
            bind:section
            {decryptedInterfaceSubset}
        />
    {/if}
</div>

<style>
    textarea {
        resize: none;
        min-height: 10rem;
        white-space: pre-wrap;
        word-wrap: break-word;
        overflow: hidden;
    }

    .section-container {
        display: flex;
        flex-direction: column;

        flex-shrink: 0;
        margin: 1rem;

        transition-duration: 0.4s;

        border: 2px solid white;
        border-radius: 6px;
    }

    .section-container * {
        margin: 0;
        border: none;
        border-radius: 0;
    }

    .selected {
        box-shadow: 0 0 0.5rem white;
    }
</style>
