<script lang="ts">
    import type { Readable } from "svelte/store"

    import type {
        Category,
        Section as SectionData,
    } from "../../backendInterface"
    import Section from "./Section.svelte"

    interface DecryptedInterfaceSubset {
        sections: Readable<SectionData[]>
        categories: Readable<Category[]>
        sectionsPassingFilter: Readable<unknown[]>
        createCategory(name: string): Promise<void>
        createSection(): Promise<void>
    }

    export let decryptedInterfaceSubset: DecryptedInterfaceSubset

    let sections: Readable<SectionData[]>
    $: sections = decryptedInterfaceSubset.sections

    let sectionsPassingFilter: Readable<unknown[]>
    $: sectionsPassingFilter = decryptedInterfaceSubset.sectionsPassingFilter
</script>

<div>
    <button
        on:click={() => {
            decryptedInterfaceSubset.createSection()
        }}>+</button
    >

    {#each $sections as section (section.key)}
        {#if $sectionsPassingFilter.includes(section.key)}
            <Section {section} {decryptedInterfaceSubset} />
        {/if}
    {/each}
</div>

<style>
    div {
        display: flex;
        flex-direction: column;

        flex-grow: 1;

        overflow-y: auto;
    }

    button {
        margin: 0;
        margin-top: 0.6rem;
        align-self: center;
    }
</style>
