<script lang="ts">
    import { t } from "svelte-intl-precompile"

    import Sidebar from "../../Sidebar.svelte"
    import CategoryTree from "../filters/categoryTree/CategoryTree.svelte"
    import Dates from "../filters/dates/Dates.svelte"
    import type { Category, Section } from "../../backendInterface"
    import SuggestedCategories from "./SuggestedCategories.svelte"
    import Modal from "../../Modal.svelte"
    import type { Readable } from "svelte/store"

    interface DecryptedInterfaceSubset {
        categories: Readable<Category[]>
        createCategory(name: string): Promise<void>
    }

    export let section: Section

    export let decryptedInterfaceSubset: DecryptedInterfaceSubset

    let confirmDelete: () => void
</script>

<Sidebar borderColor="var(--selected-color-bright)">
    <div>
        <h1>{$t("selectors.categorySelectors")}</h1>
        <h2>{$t("selectors.time")}</h2>
        <Dates time={section.time} />
        <h2>{$t("selectors.categories")}</h2>
        <CategoryTree
            selector={section.categorySelector}
            {decryptedInterfaceSubset}
        />
        <SuggestedCategories {section} {decryptedInterfaceSubset} />
        <button
            on:click={() => {
                confirmDelete()
            }}>{$t("selectors.delete")}</button
        >
    </div>
</Sidebar>

<Modal
    bind:show={confirmDelete}
    buttons={[
        [
            $t("selectors.delete"),
            () => {
                section.delete()
            },
        ],
        $t("cancel"),
    ]}><p>{$t("selectors.confirmDelete")}</p></Modal
>

<style>
    div {
        text-align: center;
    }
</style>
