<script lang="ts">
    import {
        type Section,
        type Category,
        CategoryUtils,
    } from "../../backendInterface"
    import CategoryName from "../filters/categoryTree/CategoryName.svelte"
    import { t } from "svelte-intl-precompile"
    import type { Readable } from "svelte/store"

    interface DecryptedInterfaceSubset  {
        categories: Readable<Category[]>
    }

    export let decryptedInterfaceSubset: DecryptedInterfaceSubset 
    export let section: Section

    let suggestions = section.suggestions

    let categories: Readable<Category[]>
    $: categories = decryptedInterfaceSubset.categories

    let renaming = false

    let sectionSuggestions: (Category | null)[] | null = null

    $: sectionSuggestions =
                $suggestions?.map(id =>
                    CategoryUtils.categoryFromId(id, $categories),
                ) ?? null
</script>

<div id="container">
    {#if sectionSuggestions !== null}
        <h2>{$t("section.suggestions")}</h2>
        {#each sectionSuggestions as suggestion}
            {#if suggestion !== null}
                <CategoryName
                    category={suggestion}
                    selector={section.categorySelector}
                    bind:renaming
                    onclick={true}
                    menu={false}
                />
            {/if}
        {/each}
    {/if}
</div>

<style>
    h2 {
        margin-bottom: 0.5rem;
    }

    #container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
        margin-bottom: 2rem;
    }
</style>
