<script lang="ts">
    import type { Readable, Writable } from "svelte/store";

    import { t } from "svelte-intl-precompile"
    import type { Category, Section, Time } from "../../backendInterface"
    import CategoryTag from "./CategoryTag.svelte"
    import { sectionCategories, timeString } from "./sections"

    export let section: Section

    interface DecryptedInterfaceSubset {
        categories: Readable<Category[]>
        createCategory(name: string): Promise<void>
    }

    export let decryptedInterfaceSubset: DecryptedInterfaceSubset

    let time: Writable<Time>
    $: time = section.time

    let categoryIds: Readable<number[]>
    $: categoryIds = section.categorySelector.categoryIds

    let title: Writable<string>
    $: title = section.title
    
    let categories: Readable<Category[]>
    $: categories = decryptedInterfaceSubset.categories

    let categoryPaths: Category[][]
    $: categoryPaths = sectionCategories($categories, $categoryIds)

    let string: string

    $: string = timeString($time, $t)
</script>

<div id="container">
    <input
        placeholder={$t("section.titlePlaceholder")}
        value={$title}
        on:input={e => (section.title.set(e.currentTarget.value))}
    />
    {#if string}
        <span>{string}</span>
    {/if}
    {#each categoryPaths as categoryPath}
        <CategoryTag category={categoryPath[0]} />
    {/each}
</div>

<style>
    #container {
        border-bottom: 1px solid white;
        text-align: left;
        padding-left: 0.15rem;
        padding-right: 0.15rem;

        display: flex;
        align-items: stretch;
        flex-wrap: wrap;
    }

    span {
        display: inline-block;

        font-size: 0.8rem;
        margin: calc(0.4rem + 2px);

        flex: 0 0 auto;
    }

    input {
        margin: 0;
        border: none;
        flex: 1 1 auto;
        outline: none;
        /* Cut off the shadow at the end */
        clip-path: inset(-1000px 0px -1000px -1000px);
    }

    input:focus {
        border: none;
        border-radius: 0;
    }
</style>
