:root {
    --selected-color: rgba(255, 0, 145, 0.247);
    --selected-color-bright: rgba(255, 85, 182, 1);
    --subcategory-offset-distance: 1rem;
}

@font-face {
    font-family: "Icofont";
    src: url("/icofont.woff2") format("woff2");
}

:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #535bf2;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

.card {
    padding: 2em;
}

#app {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}
button:hover {
    border-color: #646cff;
}
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

* {
    color: white;
    transition-duration: 0.1s;
}

a {
    color: rgb(46, 123, 201);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

label {
    display: block;
}

input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    -webkit-padding: 0.4em 0;
    padding: 0.4em;
    margin: 0 0 0.5em 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 6px;
    background-color: transparent;
    outline: none;
}

button:not(:disabled):active,
input:not(:disabled):focus,
textarea:not(:disabled):focus {
    box-shadow: 0 0 0.5rem var(--selected-color-bright);
}

button {
    min-height: max-content;
}

input:disabled {
    color: #ccc;
}

button:hover {
    cursor: pointer;
}

button:disabled {
    color: #999;
}

.icon {
    font-family: Icofont;
    font-size: 2rem;
    cursor: pointer;
}

.err {
    color: crimson;
}
