<script lang="ts">
    import { setCurrentLocale, t } from "svelte-intl-precompile"
    import CreationScreen from "./CreationScreen.svelte"
    import Decrypted from "./decryptedPage/Decrypted.svelte"
    import Modal from "./Modal.svelte"
    import PasswordInputScreen from "./PasswordInputScreen.svelte"
    import Settings from "./Settings.svelte"
    import {
        isErrorData,
        type BackendInterface,
        type DecryptedInterface,
        type ErrorData,
        type UpdateData,
    } from "./backendInterface"
    import { onDestroy } from "svelte"
    import "./translations"
    import Logs from "./Logs.svelte"
    import Error from "./Error.svelte"
    import Update from "./Update.svelte"

    export let backendInterface: BackendInterface
    export let htmlEntities: {
        settings: string
        docs: string
        logs: string
    }

    window.onerror = (msg, src, lineno, colno, err) => {
        if (isErrorData(err)) {
            backendInterface.error.set(err)
        } else {
            backendInterface.error.set({
                message: null,
                details: `
            GUI Error: ${msg}
            Resource: ${src}
            Line: ${lineno}
            Column: ${colno}
            
            ${err}
            `,
            })
        }
    }

    backendInterface.settings.language.subscribe(language =>
        setCurrentLocale(language),
    )

    backendInterface.dataState()

    let state: "None" | "Encrypted" | DecryptedInterface | null = null

    backendInterface.dataState().then(v => {
        state = v
    })

    function maybeChangeEncryption(
        _: any,
    ): ((newPassword: string | null) => Promise<void>) | null {
        if (typeof state === "string" || state === null) {
            return null
        }

        return state.changeEncryption
    }

    let showModal: () => void
    let showError: (err: ErrorData) => void
    let showSettings: () => void
    let openLogs: () => void
    let askToInstallUpdate: (update: UpdateData) => void

    let buttons: (string | [string, () => void])[] = []
    let modalText = ""

    const unsubscribeErrorListener = backendInterface.error.subscribe(err => {
        if (err) showError(err)
    })

    const unsubscribeUpdateListener = backendInterface.update.subscribe(
        update => {
            if (update) askToInstallUpdate(update)
        },
    )

    onDestroy(() => {
        unsubscribeErrorListener()
        unsubscribeUpdateListener()
    })
</script>

<div class="app-container">
    {#if state === null}
        {$t("loading")}
    {:else if state === "None"}
        <CreationScreen
            updateState={newState => (state = newState)}
            backendInterfaceSubset={backendInterface}
        />
    {:else if state === "Encrypted"}
        <PasswordInputScreen
            updateState={newState => (state = newState)}
            backendInterfaceSubset={backendInterface}
        />
    {:else if state !== null}
        <Decrypted decryptedInterfaceSubset={state} />
    {/if}
</div>

<div id="icons">
    <span
        class="icon"
        on:click={() => backendInterface.openDocs($t("docs"))}>{@html htmlEntities.docs}</span
    >
    <span
        class="icon"
        on:click={showSettings}>{@html htmlEntities.settings}</span
    >
    <span class="icon" on:click={openLogs}>{@html htmlEntities.logs}</span>
</div>

<Modal
    bind:show={showModal}
    {buttons}
>
    <p>{modalText}</p>
</Modal>

<Modal
    bind:show={showSettings}
    buttons={[$t("close")]}
>
    <Settings
        backendInterfaceSubset={backendInterface}
        changeEncryption={maybeChangeEncryption(state)}
    />
</Modal>

<Modal
    bind:show={showError}
    buttons={[$t("close")]}
    let:data={error}
>
    <Error {error} backendInterfaceSubset={backendInterface} />
</Modal>

<Modal
    bind:show={openLogs}
    buttons={[$t("close")]}
>
    <Logs
        backendInterfaceSubset={backendInterface}
    />
</Modal>

<Modal
    bind:show={askToInstallUpdate}
    buttons={update => [
        [$t("updates.install"), () => update.installUpdate()],
        $t("updates.dont"),
    ]}
    let:data={update}
>
    <Update {update} />
</Modal>

<style>
    div {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    span {
        margin: 1rem;
    }

    .app-container {
        position: relative;
        width: 100%;
        height: 100%;
        background-color: black;
        margin: 0;
        padding: 8px;
        box-sizing: border-box;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
            Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
        overflow-x: clip;
    }

    #icons {
        position: fixed;
        left: 1rem;
        bottom: 1rem;
    }
</style>
