<script lang="ts">
    export let label: string

    export let testId: string | undefined = undefined

    export let checked: boolean
    export let onChange: ((checked: boolean) => void) | undefined = undefined
</script>

<label>
    <input
        type="checkbox"
        {checked}
        data-testid={testId}
        on:change={e => {
            checked = e.currentTarget.checked
            if (onChange) onChange(checked)
        }}
    />
    <span class="box">{@html checked ? "&#xeed6;" : "&emsp;"}</span>
    <span class="label">{label}</span>
</label>

<style>
    label {
        display: inline-flex;
        align-items: baseline;
        width: fit-content;
        margin-bottom: 0.333em;
    }

    .box {
        display: inline-block;
        height: 0.666em;
        width: 0.666em;
        border: 2px solid #ccc;
        border-radius: 2px;
        margin-right: 0.4em;
        line-height: 0.666em;
        position: relative;
        font-family: Icofont;
        /* Account for the border */
        bottom: 2px;
    }

    input[type="checkbox"] {
        display: none;
    }
</style>
