<script lang="ts">
    import { onDestroy } from "svelte"

    export let options: [string, () => void][]
    export let buttonStyle: string

    function openContextMenu(clientX: number, clientY: number) {
        showing = true
        x = clientX
        y = clientY
    }

    let showing = false
    let x = 0
    let y = 0

    function close() {
        showing = false
    }

    function onKeyDown(e: KeyboardEvent) {
        if (e.key === "Escape") {
            showing = false
        }
    }

    window.addEventListener("mousedown", close)
    window.addEventListener("keydown", onKeyDown)
    window.addEventListener("contextmenu", close)

    onDestroy(() => {
        window.removeEventListener("mousedown", close)
        window.removeEventListener("keydown", onKeyDown)
    })
</script>

<button
    style={buttonStyle}
    on:mousedown|stopPropagation={e => {
        openContextMenu(e.clientX, e.clientY)
    }}>•••</button
>

{#if showing}
    <div
        id="container"
        style={`left: ${x}px; top: ${y}px`}
        on:mousedown|stopPropagation={close}
    >
        {#each options as [name, callback]}
            <div on:mousedown={callback} class="option">{name}</div>
        {/each}
    </div>
{/if}

<style>
    #container {
        position: fixed;
        border: 2px solid white;
        border-radius: 0.5rem;
        z-index: 10000;
        background-color: rgba(0, 0, 0, 0.8);
    }

    .option {
        padding: 0.5rem;
        text-align: center;
    }

    .option:hover {
        background-color: var(--selected-color);
        cursor: pointer;
    }

    button {
        border: 1px solid white;
        border-radius: 50%;
        font-size: 0.9rem;
        margin: 0;
        display: inline;
        width: 2rem;
        height: 2rem;
    }
</style>
