<script lang="ts">
    import { t } from "svelte-intl-precompile"
    import type { DecryptedInterface } from "./backendInterface"

    interface BackendInterfaceSubset {
        createDiary(password: string | null): Promise<DecryptedInterface | null>
    }

    export let backendInterfaceSubset: BackendInterfaceSubset

    export let updateState: (
        futureState: DecryptedInterface | "None" | "Encrypted" | null,
    ) => void

    let password = ""
    let confirmation = ""

    let err = ""

    function submit() {
        if (password !== confirmation) {
            err = $t("creationScreen.mustMatch")
            return
        }

        if (password === "") {
            err = $t("creationScreen.mustExist")
            return
        }

        backendInterfaceSubset.createDiary(password).then(v => updateState(v))
    }

    function checkEnterKey(key: KeyboardEvent) {
        if (key.key === "Enter") {
            submit()
        }
    }
</script>

<h1>{$t("creationScreen.chooseStrongPassword")}</h1>
<p>
    {$t("creationScreen.passwordManagerSuggestion.part1")}
    <a href="https://www.youtube.com/watch?v=R6b1WasXxBs"
        >{$t("creationScreen.passwordManagerSuggestion.link")}</a
    >
    {$t("creationScreen.passwordManagerSuggestion.part2")}
</p>
<input
    type="password"
    placeholder={$t("creationScreen.passwordPlaceholder")}
    bind:value={password}
    on:keydown={checkEnterKey}
    data-testid="password"
/>
<input
    type="password"
    placeholder={$t("creationScreen.confirmPasswordPlaceholder")}
    bind:value={confirmation}
    on:keydown={checkEnterKey}
    data-testid="confirm-password"
/>
<button
    on:click={submit}
    data-testid="submit-password">{$t("creationScreen.confirm")}</button
>
<p
    class="err"
    data-testid="err"
>
    {err}
</p>
<p
    id="no-encryption"
    on:click={() => {
        backendInterfaceSubset.createDiary(null).then(v => updateState(v))
    }}
    data-testid="no-encryption"
>
    {$t("creationScreen.withoutEncryption")}
</p>

<style>
    p,
    button,
    input {
        font-size: large;
    }

    #no-encryption {
        text-decoration: underline;
        font-size: medium;
    }

    #no-encryption:hover {
        cursor: pointer;
    }
</style>
