<script lang="ts">
    import { t } from "svelte-intl-precompile"
    import type { ErrorData } from "./backendInterface"

    export let error: ErrorData

    export let backendInterfaceSubset: {
        copyToClipboard: (value: string) => void
    }
</script>

{#if error.message === null}
    <p>{$t("errors.error")}</p>
{:else if "FileDoesntExist" in error.message}
    <p>
        {$t("errors.fileDoesntExist", {
            values: { file: error.message.FileDoesntExist },
        })}
    </p>
{:else if "PermissionDenied" in error.message}
    <p>
        {$t("errors.permissionDenied", {
            values: { file: error.message.PermissionDenied },
        })}
    </p>
{/if}

<button
    class="details"
    on:click={() => {
        backendInterfaceSubset.copyToClipboard(error.details)
    }}>{$t("errors.copy")}</button
>
<pre class="details">{error.details}</pre>

<style>
    .details {
        font-size: 1.2rem;
    }

    p {
        font-size: 2rem;
    }

    button {
        align-self: center;
    }

    pre {
        overflow: scroll;
        border-top: 1px dashed white;
        padding: 1rem;
        max-height: 25vh;
    }
</style>
