<script>
    import Error from "./Error.svelte"
    import Modal from "./Modal.svelte"
    import { Meta, Story, Template } from "@storybook/addon-svelte-csf"
    import { onMount } from "svelte"

    let show

    onMount(() => show())
</script>

<Meta
    title="Error"
    component={Modal}
/>

<Template let:args>
    <Modal buttons={["Close"]} bind:show
        ><Error
            backendInterfaceSubset={{ copyToClipboard: console.log }}
            error={{
                details: args.details,
                message:
                    args.type === null ? null : { [args.type]: args.message },
            }}
        /></Modal
    >
</Template>

<Story name="Primary" args={{details: "Thingy go kablooey", type: null, message: "kablooey"}} />
