<script lang="ts">
    import { levelName, type Log } from "./backendInterface"

    export let minLevelNumber: number
    export let log: Log

    let level = levelName(log.level)
    let levelClass = level.toLowerCase().trimEnd()
</script>

<div hidden={log.level < minLevelNumber}>
    <span class="time">{log.time}</span>
    <pre class={levelClass}>{level}</pre>
    <pre class="module">{log.module}</pre>
    <span class="arrow">&emsp;&gt;</span>
    <span class="message">{log.message}</span>
</div>

<style>
    * {
        transition: none;
    }

    pre {
        display: inline;
    }

    .error {
        color: red;
    }

    .warn {
        color: yellow;
    }

    .info {
        color: lime;
    }

    .debug {
        color: #08f;
    }

    .trace {
        color: magenta;
    }

    .time,
    .arrow {
        color: gray;
    }

    .module {
        font-style: bold;
    }
</style>
