<script lang="ts">
    import Logs from "./Logs.svelte"
    import Modal from "./Modal.svelte"
    import { Meta, Story, Template } from "@storybook/addon-svelte-csf"
    import { onMount } from "svelte"
    import { writable } from "svelte/store"

    let show: () => void

    onMount(() => show())
</script>

<Meta
    title="Logs"
    component={Modal}
/>

<Template>
    <Modal
        buttons={["Close"]}
        bind:show
        ><Logs
            backendInterfaceSubset={{
                copyToClipboard: console.log,
                logs: writable(
                    Array(1000)
                        .fill([
                            {
                                level: 1,
                                module: "A  ",
                                message: "Poggers",
                            },
                            {
                                level: 2,
                                module: "AA ",
                                message: "Bruh",
                            },
                            {
                                level: 3,
                                module: "AAA",
                                message: "Yeet",
                            },
                            {
                                level: 4,
                                module: "AA ",
                                message: "Oof",
                            },
                            {
                                level: 5,
                                module: "A  ",
                                message: "Oofy",
                            },
                        ])
                        .flat()
                        .map((v, i) => {
                            return {
                                ...v,
                                time: `1:2:3.${i}`,
                            }
                        }),
                ),
            }}
        /></Modal
    >
</Template>

<Story name="Primary" />
