<script lang="ts">
    import { levelName, levelNumber } from "./backendInterface"
    import type { Readable } from "svelte/store"
    import type { Log } from "./backendInterface"
    import Select from "./Select.svelte"
    import LogEntry from "./LogEntry.svelte"

    interface BackendInterfaceSubset {
        readonly logs: Readable<Log[]>
        copyToClipboard(data: string): void
    }

    export let backendInterfaceSubset: BackendInterfaceSubset

    let logs: Readable<Log[]>
    $: logs = backendInterfaceSubset.logs

    let minLevelNumber: number = 1
</script>

<div>
    <Select
        value={"TRACE"}
        onInput={level => {
            // @ts-ignore, this isn't ts so I can't cast
            minLevelNumber = levelNumber(level)
        }}
    >
        <option value="ERROR">Error</option>
        <option value="WARN ">Warn</option>
        <option value="INFO ">Info</option>
        <option value="DEBUG">Debug</option>
        <option value="TRACE">Trace</option>
    </Select>
    <button
        on:click={() => {
            let filtered = $logs.filter(log => log.level >= minLevelNumber)

            backendInterfaceSubset.copyToClipboard(
                filtered
                    .map(
                        log =>
                            `${log.time} ${levelName(log.level)} ${
                                log.module
                            }  > ${log.message}`,
                    )
                    .join("\n"),
            )
        }}>Copy</button
    >
</div>
<div class="logs">
    {#each $logs as log}
        <LogEntry
            {minLevelNumber}
            {log}
        />
    {/each}
</div>

<style>
    .logs {
        font-family: monospace;
        width: fit-content;
        padding-top: 0.5rem;
        margin-top: 0.5rem;
        border-top: 1px solid #ccc;
        max-width: 100%;
        overflow-y: scroll;
        word-break: break-all;
        padding-right: 1em;
    }
</style>
