<script lang="ts">
    import { fade } from "svelte/transition"

    let data: any

    export function show(new_data: any) {
        showing = true
        data = new_data
    }

    let showing = false
    export let buttons:
        | ([string, () => void] | string)[]
        | ((data: any) => ([string, () => void] | string)[])

    function getButtons(): [string, () => void][] {
        let buttonsGetted =
            typeof buttons === "function" ? buttons(data) : buttons

        return buttonsGetted.map(v =>
            typeof v === "string" ? [v, () => {}] : v,
        )
    }
</script>

{#if showing}
    <div
        transition:fade={{ duration: 200 }}
        id="modal-container"
        on:click={() => {
            showing = false
        }}
        on:mousedown|stopPropagation
    >
        <div
            id="modal"
            on:click|stopPropagation
        >
            <slot {data} />
            <div class="button-row">
                {#each getButtons() as button}
                    <button
                        on:click={() => {
                            showing = false
                            button[1]()
                        }}>{button[0]}</button
                    >
                {/each}
            </div>
        </div>
    </div>
{/if}

<style>
    #modal-container {
        background-color: rgba(0, 0, 0, 0.6);

        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    .button-row {
        font-size: 1.5rem;
        text-align: center;
    }

    #modal {
        background-color: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(4px);

        max-width: 90vw;
        max-height: 90vh;
        border: 2px solid white;
        border-radius: 0.5rem;

        padding: 0.7rem;

        display: flex;
        flex-direction: column;
    }

    button {
        margin: 0.7rem;
    }
</style>
