<script lang="ts">
    import { t } from "svelte-intl-precompile"
    import type { DecryptedInterface } from "./backendInterface"

    interface BackendInterfaceSubset {
        decryptDiary(password: string): Promise<DecryptedInterface | "IncorrectKey" | null>
    }

    export let backendInterfaceSubset: BackendInterfaceSubset

    export let updateState: (
        state: DecryptedInterface | "None" | "Encrypted" | null,
    ) => void

    let password = ""
    let err: string = ""

    async function submit() {
        if (password === "") {
            err = $t("creationScreen.mustExist")
            return
        }

        let maybeDecrypted = await backendInterfaceSubset.decryptDiary(password)

        if (maybeDecrypted === null) return

        if (maybeDecrypted !== "IncorrectKey") {
            // Appeasing the type checker
            let decrypted = maybeDecrypted

            updateState(decrypted)
        } else {
            err = $t("errors.passwordIncorrect")
        }
    }
</script>

<input
    type="password"
    placeholder={$t("creationScreen.passwordPlaceholder")}
    bind:value={password}
    on:keydown={key => {
        if (key.key === "Enter") {
            submit()
        }
    }}
    data-testid="password-input"
/>
<button
    on:click={submit}
    data-testid="submit">{$t("submit")}</button
>
<p data-testid="err">{err}</p>
