<script lang="ts">
    export let value: string
    export let onInput: (value: string) => void = () => {}

    export let testId: string | undefined = undefined
</script>

<div class="container">
    <select
        {value}
        on:input={e => {
            value = e.currentTarget.value
            onInput(value)
        }}
        data-testid={testId}
    >
        <slot />
    </select>
    <div class="arrow-wrapper">▼</div>
</div>

<style>
    select {
        appearance: none;
        border: none;
        margin: 0;
        padding-right: 1.5em;
    }

    .container {
        position: relative;
        width: fit-content;
        border: 2px solid #ccc;
        border-radius: 6px;
        display: inline-block;
    }

    .arrow-wrapper {
        top: 0;
        bottom: 0;
        right: 0.3em;
        position: absolute;
        pointer-events: none;
        display: flex;
        align-items: center;
    }
</style>
