<script lang="ts">
    import { t, locales } from "svelte-intl-precompile"
    import { derived, type Readable, type Writable } from "svelte/store"
    import type { Settings } from "./backendInterface"
    import Checkbox from "./Checkbox.svelte"
    import Select from "./Select.svelte"

    interface BackendInterfaceSubset {
        settings: Settings
        encryption: Readable<boolean | null>
    }

    export let backendInterfaceSubset: BackendInterfaceSubset

    export let changeEncryption:
        | ((newPassword: string | null) => Promise<void>)
        | null

    let encryption: Readable<boolean | null>
    $: encryption = backendInterfaceSubset.encryption

    let newEncryption: boolean | null

    $: updateNewEncryption($encryption)

    function updateNewEncryption(encryption: boolean | null) {
        newEncryption = encryption
    }

    let password = ""
    let confirmPassword = ""

    let err = ""

    let finished = false

    function confirmChangesToEncryption() {
        if (changeEncryption === null) return

        finished = false

        if (newEncryption) {
            if (password !== confirmPassword) {
                err = $t("creationScreen.mustMatch")
                return
            }

            if (password === "") {
                err = $t("creationScreen.mustExist")
                return
            }

            changeEncryption(password)
        } else {
            changeEncryption(null)
        }

        finished = true
    }

    let language: Writable<string>
    $: language = backendInterfaceSubset.settings.language

    let categoryPrediction: Writable<boolean>
    $: categoryPrediction = backendInterfaceSubset.settings.categoryPrediction

    let checkForUpdates: Writable<boolean | null>
    $: checkForUpdates = backendInterfaceSubset.settings.checkForUpdates

    let localeNames: Readable<[string, string][]> = derived(locales, locales =>
        locales
            .map(
                locale =>
                    [
                        locale,
                        new Intl.DisplayNames([locale], {
                            type: "language",
                        }).of(locale),
                    ] as [string, string],
            )
            .sort((a, b) => (a[1] < b[1] ? -1 : 1)),
    )
</script>

<div class="container">
    <Select
        value={$language}
        onInput={v => language.set(v)}
    >
        {#each $localeNames as [locale, name]}
            <option value={locale}>{name}</option>
        {/each}
    </Select>

    <Checkbox
        label={$t("settings.categoryPrediction")}
        checked={$categoryPrediction}
        onChange={v => categoryPrediction.set(v)}
        testId="categoryPrediction"
    />

    {#if $checkForUpdates !== null}
        <Checkbox
            label={$t("settings.checkForUpdates")}
            checked={$checkForUpdates}
        onChange={v => checkForUpdates.set(v)}
            testId="checkForUpdates"
        />
    {/if}

    {#if encryption !== null && changeEncryption !== null && newEncryption !== null}
        <Checkbox
            label={$t("settings.encryption")}
            bind:checked={newEncryption}
            testId="encryption-enabled"
        />

        <div>
            {#if newEncryption}
                <input
                    type="password"
                    bind:value={password}
                    placeholder={$t("settings.newPasswordPlaceholder")}
                    on:keydown={e => {
                        if (e.key === "Enter") confirmChangesToEncryption()
                    }}
                    data-testid="password"
                /><br />
                <input
                    type="password"
                    bind:value={confirmPassword}
                    placeholder={$t("settings.confirmNewPasswordPlaceholder")}
                    on:keydown={e => {
                        if (e.key === "Enter") confirmChangesToEncryption()
                    }}
                    data-testid="confirm-password"
                /><br />
            {/if}

            {#if newEncryption !== $encryption || password !== "" || confirmPassword !== ""}
                <button
                    on:click={confirmChangesToEncryption}
                    data-testid="confirm-encryption-changes"
                    >{$t("settings.confirmEncryptionChanges")}</button
                >
            {/if}
        </div>

        <p
            id="err"
            data-testid="err"
        >
            {err}
        </p>
        {#if finished}
            <p>{$t("settings.finished")}</p>
        {/if}
    {/if}
</div>

<style>
    * {
        font-size: 1.5rem;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
    }

    #err {
        color: crimson;
        margin: 0;
    }
</style>
