<script lang="ts">
    import { fade } from "svelte/transition"
    import { onDestroy, onMount } from "svelte"
    import { sidebarsOpen } from "./sidebar"
    
    export let borderColor: string

    onMount(() => sidebarsOpen.update(v => v + 1))

    onDestroy(() => sidebarsOpen.update(v => v - 1))
</script>

<div id="container" style={`border-right: 1px solid ${borderColor}`} in:fade={{ duration: 200 }} out:fade={{ duration: 200, delay: 100 }}>
    <slot />
</div>

<style>
    #container {
        position: absolute;
        left: 0;
        top: 0;
        width: 20rem;
        height: 100vh;
        max-width: 80vw;
        background-color: black;
    }
</style>
