<script>
    import Update from "./Update.svelte"
    import Modal from "./Modal.svelte"
    import { Meta, Story, Template } from "@storybook/addon-svelte-csf"
    import { onMount } from "svelte"

    let show

    onMount(() => show())
</script>

<Meta
    title="Update"
    component={Modal}
/>

<Template let:args>
    <Modal
        buttons={["Install", "Dont install"]}
        bind:show
        ><Update
            update={{
                version: args.version,
                notes: args.notes,
                installUpdate: () => {
                    throw "Shouldn't have been called"
                },
            }}
        /></Modal
    >
</Template>

<Story
    name="Primary"
    args={{ version: "1.0.0", notes: "Oof" }}
/>
