<script lang="ts">
    import type { UpdateData } from "./backendInterface"
    import { t } from "svelte-intl-precompile"

    export let update: UpdateData
</script>

<p class="header">{$t("updates.updateAvailable")}</p>
<span class="left">
    {$t("updates.version", { values: { version: update.version } })}
</span>
{#if update.notes !== null}
    <span class="left">
        {$t("updates.notes", { values: { notes: update.notes } })}
    </span>
{/if}

<style>
    .header {
        font-size: 2rem;
    }

    .left {
        float: left;
    }
</style>
