<script lang="ts">
    import Filters from "./filters/Filters.svelte"
    import SectionColumn from "./sections/SectionColumn.svelte"
    import { sidebarsOpen } from "../sidebar"
    import type { DecryptedInterface} from "../backendInterface"

    export let decryptedInterfaceSubset: DecryptedInterface
</script>

<div id="container">
    <Filters {decryptedInterfaceSubset} />
    {#if $sidebarsOpen}
        <div id="spacer" />
    {/if}
    <SectionColumn {decryptedInterfaceSubset} />
</div>

<style>
    #container {
        display: flex;
        width: 100vw;
        height: 100vh;
        position: absolute;
        left: 0;
        top: 0;
    }

    #spacer {
        width: 20rem;
        height: 100vh;
        max-width: 80vw;
    }
</style>
